pandas          
numpy
matplotlib        
scikit-learn       
seaborn          
category-encoders 
geopandas
dask 
scipy
spacy
plotly
folium
statistics
nltk
jupyter-dash
dash_bootstrap_components
beautifulsoup4
xgboost
joblib
dash
pyarrow